/* variables */
body {
  background-color: #cde5cf;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  grid-template: repeat(13, 5vw)/repeat(14, 5vw);
  padding: 1em 0;
}

.board__square {
  background: #cde5cf;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  position: relative;
}

.board__square:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 3;
  transform: rotate(0deg);
}

.board__square:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 4;
  transform: rotate(0deg);
}

.board__square:nth-child(4) {
  grid-row: 1 / 3;
  grid-column: 5;
  transform: rotate(0deg);
}

.board__square:nth-child(5) {
  grid-row: 1 / 3;
  grid-column: 6;
  transform: rotate(0deg);
}

.board__square:nth-child(6) {
  grid-row: 1 / 3;
  grid-column: 7;
  transform: rotate(0deg);
}

.board__square:nth-child(7) {
  grid-row: 1 / 3;
  grid-column: 8;
  transform: rotate(0deg);
}

.board__square:nth-child(8) {
  grid-row: 1 / 3;
  grid-column: 9;
  transform: rotate(0deg);
}

.board__square:nth-child(9) {
  grid-row: 1 / 3;
  grid-column: 10;
  transform: rotate(0deg);
}

.board__square:nth-child(10) {
  grid-row: 1 / 3;
  grid-column: 11;
  transform: rotate(0deg);
}

.board__square:nth-child(11) {
  grid-row: 1 / 3;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(12) {
  grid-row: 3;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(13) {
  grid-row: 4;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(14) {
  grid-row: 5;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(15) {
  grid-row: 6;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(16) {
  grid-row: 7;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(17) {
  grid-row: 8;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(18) {
  grid-row: 9;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(19) {
  grid-row: 10;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(20) {
  grid-row: 11;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(21) {
  grid-row: 12 / 14;
  grid-column: 12 / 14;
  transform: rotate(0deg);
}

.board__square:nth-child(22) {
  grid-row: 12 / 14;
  grid-column: 11;
  transform: rotate(0deg);
}

.board__square:nth-child(23) {
  grid-row: 12 / 14;
  grid-column: 10;
  transform: rotate(0deg);
}

.board__square:nth-child(24) {
  grid-row: 12 / 14;
  grid-column: 9;
  transform: rotate(0deg);
}

.board__square:nth-child(25) {
  grid-row: 12 / 14;
  grid-column: 8;
  transform: rotate(0deg);
}

.board__square:nth-child(26) {
  grid-row: 12 / 14;
  grid-column: 7;
  transform: rotate(0deg);
}

.board__square:nth-child(27) {
  grid-row: 12 / 14;
  grid-column: 6;
  transform: rotate(0deg);
}

.board__square:nth-child(28) {
  grid-row: 12 / 14;
  grid-column: 5;
  transform: rotate(0deg);
}

.board__square:nth-child(29) {
  grid-row: 12 / 14;
  grid-column: 4;
  transform: rotate(0deg);
}

.board__square:nth-child(30) {
  grid-row: 12 / 14;
  grid-column: 3;
  transform: rotate(0deg);
}

.board__square:nth-child(31) {
  grid-row: 12 / 14;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(32) {
  grid-row: 11;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(33) {
  grid-row: 10;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(34) {
  grid-row: 9;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(35) {
  grid-row: 8;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(36) {
  grid-row: 7;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(37) {
  grid-row: 6;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(38) {
  grid-row: 5;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(39) {
  grid-row: 4;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square:nth-child(40) {
  grid-row: 3;
  grid-column: 1 / 3;
  transform: rotate(0deg);
}

.board__square--corner1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 45%;
  bottom: 0;
  right: 0;
  transform: rotate(130deg);
  color: black;
  font-size: 1vw;
}

.board__square--corner2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 10%;
  transform: rotate(230deg);
  color: black;
  font-size: 1vw;
}

.board__square--corner3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8%;
  right: 30%;
  transform: rotate(-45deg);
  color: black;
  font-size: 1vw;
}

.board__square--corner4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6%;
  left: 72%;
  transform: rotate(45deg);
  color: black;
  font-size: 1vw;
}