/* variables */
$rows: repeat(13, 5vw);
$columns: repeat(14, 5vw);
$grid: "1" "1 / 3" "1 / 3" "0deg", "2" "1 / 3" "3" "0deg", "3" "1 / 3" "4" "0deg", "4" "1 / 3" "5" "0deg", "5" "1 / 3" "6" "0deg",
  "6" "1 / 3" "7" "0deg", "7" "1 / 3" "8" "0deg", "8" "1 / 3" "9" "0deg", "9" "1 / 3" "10" "0deg", "10" "1 / 3" "11" "0deg",
  "11" "1 / 3" "12 / 14" "0deg", "12" "3" "12 / 14" "0deg", "13" "4" "12 / 14" "0deg", "14" "5" "12 / 14" "0deg", "15" "6" "12 / 14" "0deg",
  "16" "7" "12 / 14" "0deg", "17" "8" "12 / 14" "0deg", "18" "9" "12 / 14" "0deg", "19" "10" "12 / 14" "0deg", "20" "11" "12 / 14" "0deg",
  "21" "12 / 14" "12 / 14" "0deg", "22" "12 / 14" "11" "0deg", "23" "12 / 14" "10" "0deg", "24" "12 / 14" "9" "0deg", "25" "12 / 14" "8" "0deg",
  "26" "12 / 14" "7" "0deg", "27" "12 / 14" "6" "0deg", "28" "12 / 14" "5" "0deg", "29" "12 / 14" "4" "0deg", "30" "12 / 14" "3" "0deg",
  "31" "12 / 14" "1 / 3" "0deg", "32" "11" "1 / 3" "0deg", "33" "10" "1 / 3" "0deg", "34" "9" "1 / 3" "0deg", "35" "8" "1 / 3" "0deg",
  "36" "7" "1 / 3" "0deg", "37" "6" "1 / 3" "0deg", "38" "5" "1 / 3" "0deg", "39" "4" "1 / 3" "0deg", "40" "3" "1 / 3" "0deg";

